/data/pointCleanNetOutliersTestSetOriginal
/data/pointCleanNetOutliersTrainingSetOriginal
/data/pointCleanNetDataset.tar.gz
/data/pointCleannetDataset
/models/*.pth
/models/*.txt
/models/outliersRemovalModel
/models/denoisingModel
/models/training_27_7
/__pycache__/
/logs/
/noise_removal/results/
/noise_removal/logs/
/outliers_removal/logs/
/noise_removal/*.pyc
/outliers_removal/*.pyc
